<main class="home">
  <h1 class = "logo">Trax</h1>
  <div class = "home-buttons">
    <%= link_to "LOG IN", signin_path, id: "btn-signin" %>
    <%= link_to "SIGN UP", signup_path, id: "btn-signup" %>
  </div>
</main>