<main class="home">
  <div class="logo"><h1>Trax</h1></div>
  <div class = "home-buttons">
    <%= link_to "LOG IN", signin_path, id: "btn-signin" %>
    <%= link_to "SIGN UP", signup_path, id: "btn-signup" %>
  </div>
</main>