/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *,
 *::before,
 *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
 }

  body {
   font-family: Lato;
  }


  header {
    height: 8vh;
    background: #3778c2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
  }

  .title{
    margin:0 auto;
    color: white;
    font-size: 12px;
  }

  .burger {
    margin:0 auto;
    color: white;
    font-size: 1.2rem;
  }

  .search {
    margin:0 auto;
    color: white;
    font-size: 1rem;
  }

  .notice,
  .alert {
  margin: 1% auto auto auto;
  width: 70%;
  height: 30px;
  text-align: center;
  padding: 5px;
  color: dimgrey;
  font-size: 14px;
  border-radius: 3px;
  }

  .notice {
    background-color: #d4f6c6;
  }
  
  .alert {
    background-color: rgb(226, 120, 152);
    color: #fff;
  }

  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .btn-bottom{
    background-color: #5fb523;
    height: 80px;
    display: flex;
    align-items: center;
  }

  .btn-bottom:hover{
    background-color: #6cbd32;
  }

  .btn-inner{
    margin: 0 auto;
    width: 96%;
    height: 70px;
    border: 1px solid white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-inner h1{
    width: 20%;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: white;
  }


