// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.g-container {
  background: linear-gradient(11deg, #3778c2 0%, #1d4a7c 100%);
  min-height: 85vh;

  ul {
    list-style-type: none;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;

    li {
      margin: 10px 0;
      height: 80px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.445);
      color: rgb(221, 221, 221);
      display: grid;
      grid-template-columns: 1fr 4fr;
      align-items: center;
    }

    li:last-child{
      border: none;
    }

    li:hover{
      background-color: rgba($color: #3778c2, $alpha: .5)
    }

    .g-icon{
      .icon {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }

   
  }
}

.container.f{
  padding: 1.5rem 0;
  width: 100%;
  min-height: 92vh;

  .upload {
    padding: 20px;
  }
}

.form-wrapper {
  margin: 0 auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;

  input {
    height: 60px;
    border: none;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 0 1rem;
  }

  .btn {
    margin: 2rem auto;
    width: 95%;
    height: 50px;
    background: rgb(133, 133, 133);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
  }

  .btn:hover {
    background: rgb(145, 144, 144);
    color: white;
  }
}