// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  background: linear-gradient(11deg, #3778c2 0%, #1d4a7c 100%);
  height: 100vh;

  h1 {
    color: white;
    margin: 10px;
  }

  a{
    text-decoration: none;
    color: white;
  }

  li{
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.445);

  }

  li:last-child{
    border: none;
  }

  i {
    margin: 10px;
  }

  .thumbnail{
    border-radius: 50%;
    margin: 10px;
  }
}